@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka';
}

header {
    width: 100%;
    height: 120px;
    background-color: #f5fff5;
    padding: 20px;
    position: relative;
    transition: 0.3s;
    z-index: 100;
}

.header-div {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.name {
    font-size: 34px;
    font-weight: 500;
    font-family: 'Fredoka';
    color: #2b323b;
}

.logo img {
    width: 100%;
    height: 100%;
}

.options {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#top-contributors,
#upload-questions {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 10px;
    color: white;
    background-color: #ff5722;
    font-size: 18px;
}

#login-button,
#logout-button {
    background-color: #546E7A;
    font-family: 'Quicksand';
    display: none;
    align-items: center;
    padding: 8px;
    gap: 10px;
    color: white;
    font-size: 18px;
    border: 1px solid black;
}
#login-button :hover,
#logout-button:hover{
    cursor: pointer;
}
#hammer{
    position: absolute;
    top: 20px;
    right: 10px;
    display: none;
}
#hammer:hover{
    cursor: pointer;
}
@media (max-width:1170px) {
    header{
        overflow-y: hidden;
        height: 80px;
    }
    .header-show{
        height: 150px;
        overflow-y: hidden;
        z-index: 100;
        padding: 20px;
        position: fixed;
        border-bottom: 2px solid gray;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
    #hammer{
        display: block;
    }
}
/* @media (max-width:1184px){
    .header-show{
        height: 200px;
        overflow-y: hidden;
        z-index: 100;
        padding: 20px;
    }
    #hammer{
        display: block;
    }
} */
@media (max-width:720px) {
header{
    overflow-y: hidden;
    height: 80px;
   
}

.header-show{
    height: 300px;
    overflow-y: hidden;
    z-index: 100;
    padding: 20px;
    border-bottom: 2px solid gray;
    position: fixed;
}
    #top-contributors,
    #upload-questions,
    #login-button,
    #logout-button {
        width: 250px;
        justify-content: center;
    }

    #hammer{
        display: block; 
       margin-bottom: 30px;
    }
    .quiz-section{
        margin-bottom: 100px;
    }
}
.container-2{
    position: absolute;
    width: 100%;
    top:100px;
    right: 0px;

}
.quiz-section {
    width: 100%;
    min-height: 600px;
    overflow-y: hidden;
}

.quiz-section h1 {
    text-align: center;
    padding: 40px;
    font-size: 20px;
    font-weight: 500;
}

.quiz-section-frontend {
    width: 75%;
    min-height: 600px;
    margin: 0 auto;
}

.quiz-container {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.quiz-card {
    background-color: hsl(120, 8%, 90%);
    height: 300px;
    background-color: #f5fff5;
    border-top: 5px solid #546E7A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    overflow-y: hidden;
}

.language-name {
    font-weight: 600;
}

.language-image {
    width: 100px;
    height: 100px;
}

.language-image img {
    width: 100%;
    height: 100%;
}

.progress-overlay {
    position: absolute;
    width: 100%;
    bottom: -30px;
    background: rgb(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;

}

.start-quiz-button {
    padding: 10px 15px;
    background-color: #546e7a;
    color: #f5fff5;
    font-size: 17px;
    font-family: 'Quicksand';
    font-weight: 600;
    border: 2px solid black;
    transition: 0.5s;
}

.start-quiz-button:hover {
    background-color: #6b8997;
    cursor: pointer;
    transform: translateY(-5px);
}

#login-div {
    width: 450px;
    height: 380px;
    position: fixed;
    top: -400px;
    left: 35%;
    background-color: #f5fff5;
    z-index: 100;
    border: none;
    transition: 0.3s;
   border: 2px solid #546e7a;
}

#sign-up-div {
    width: 450px;
    min-height: 380px;
    position: fixed;
    top: 120px;
    left: 35%;
    background-color: #f5fff5;
    z-index: 100;
    border: 2px solid #546e7a;
    transition: 0.3s;
    display: none;
    padding: 10px;
}

@media (max-width:720px) {

    #login-div,
    #sign-up-div {
        left: 0px;
        width: 95vw;
        margin-left: 10px;
    }
}

#login-div form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}

#sign-up-div form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}

#login-div form h2 {
    text-align: center;
    padding: 15px;
    font-weight: 400;
}

#sign-up-div form h2 {
    text-align: center;
    padding: 15px;
    font-weight: 400;
}

#login-div form input,
#sign-up-div form input {
    padding: 10px;
    width: 80%;
    border: 1px solid black;
    font-size: 17px;
    background-color: transparent;
}
#login-div form input:focus, #sign-up-div form input:focus{
    border: none;
    outline: 2px solid #ff5722;
}
#login,
#sign-up {
    width: 80%;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    background-color:#546e7a;
    border: none;
    color: white;
    transition: 0.3s;
}
#login:hover,
#sign-up:hover{
    cursor: pointer;
    background-color: #7096a8;
}
#google-loging,
#google-sign-up {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
}
#google-loging:hover,
#google-sign-up:hover{
    cursor: pointer;
}
.google-icon {
    width: 20px;
    height: 20px;
}

#login-div-close-button,
#sign-up-div-close-button {
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    position: absolute;
}

#login-div-close-button img,
#sign-up-div-close-button img {
    width: 100%;
    height: 100%;
}
#login-div-close-button img:hover,
#sign-up-div-close-button img:hover{
    cursor: pointer;
}
#sign-up-div-show :hover,#login-div-show:hover{
    cursor: pointer;
}
#sign-up-login-success-div {
    width: 280px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    position: fixed;
    top: -80px;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
    background-color: #07cc66;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.sign-up-login-success-div-image {
    width: 20%;
    height: 100%;
}

.sign-up-login-success-div-image img {
    width: 100%;
    height: 100%;
}

/* ==================================================================== Log out div =================================================== */
.logout-confirmation-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: fit-content;
    background-color: rgb(255, 250, 250);
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 15px;

    font-size: 22px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
}

.content-heading {
    color: rgb(34, 34, 34);
    font-weight: 800;
}

.content-para {
    font-size: 16px;
    font-weight: 400;
    color: rgb(51, 51, 51);
}

.button-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.button-sin-up {
    width: 50%;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Quicksand';
    font-size: 15px;
    font-weight: 500;
}

.accept {
    background-color: #ff5722;
    color: white;
}

.reject {
    background-color: #ececec;
    color: rgb(34, 34, 34);
}

.accept:hover {
    background-color: #b95132;
}

.reject:hover {
    background-color: #ddd;
}

.svgIconCross {
    height: 10px;
}

/* =================================================================================================== */
#login-alert{
    position: fixed;
    top: 13%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out;
    color: red;
    font-size: 20px;
    font-size: 600;
    user-select: none;
  z-index: 100;
}
@media (max-width:720px){
    #login-alert{
        top: 34%;
        width: 100%;
        left: 280px;
        user-select: none;
        z-index: 1000;
    }
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #2b323b;
    height: 300px;
    background-color: #546E7A;
    font-size: 18px;
}
@media (max-width:720px){
    footer{
        padding: 20px;
    }
}
.footer-section-logo{
    display: flex;
    align-items: center;
    gap: 10px;
   font-size: 24px;
  
}
.footer-section-logo img{
    width: 60px;
    height: 60px;
}
.social-links{
display: flex;
align-items: center;
gap: 10px;
}
.social-links img{
    width: 50px;
    height: 50px;
}

.footer-section-logo-and-name{
display: flex;
align-items: center;
gap: 10px;
font-size: 26px;
font-weight: 500;
color: white;
}
.footer-section-logo-and-name img{
    width: 40px;
    height: 40px;
}
.follow-pages img{
    width: 40px;
    height: 40px;
}
.follow-pages{
    display: flex;
    align-items: center;
    gap: 15px;
}
