@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
header {
  width: 100%;
  height: 120px;
  background-color: #f5fff5;
  padding: 20px;
  position: relative;
  transition: 0.3s;
  z-index: 100;
}

.header-div {
    width: 75%;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

body {
    background-color: white;
    height: auto;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 80px;
    height: 80px;
}

.name {
    font-size: 34px;
    font-weight: 600;
    font-family: 'Quicksand';
}
.name:hover{
  cursor: pointer;
}
.logo img {
    width: 100%;
    height: 100%;
}

.options {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#top-contributors,
#upload-questions {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 10px;
    color: white;
    background-color: #ff5722;
    font-size: 18px;
}

#login-button,
#logout-button {
    background-color: #546E7A;
    font-family: 'Quicksand';
    display: none;
    align-items: center;
    padding: 8px;
    gap: 10px;
    color: white;
    font-size: 18px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80dvh;
}

#question-container {
    width: 55dvw;
    height: 40dvh;
    position: relative;
    transform: translateY(-20%);
}

.details-and-answer-image-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35dvw;
  height: 40dvh;
  justify-content: space-between;
  transform: translateY(-20%);
}
.details-and-answer-image-div h1{
  font-family: 'Quicksand';
}
.question-and-option-details {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
   /* border-top: 3px solid #546e7a ; */
   border-radius: 20px;
    padding: 20px;
    gap: 15px;
    background: white;

}

#question-container h1 {
    font-size: 20px;
    font-weight: 500;
    /* opacity: 0; */
}

#question-container p {
    font-weight: 400;
    font-size: 16px;
}
.quiz-section {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}
@media (max-width:1024px){
  .quiz-section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    height: 900px;
    width: 100%;
    margin-top: 260px;
    gap: 30px;
  }
  main{
    margin-top: 80px;
  }
}
@media (max-width:600px){
  .quiz-section {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
  }
  #question-container{
    width: 100%;
  }
  .details-and-answer-image-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
  }
  main{
 min-height: 100dvh;
 margin: 20px 0px;
 
  }
}
.container-2{
  position: absolute;
  width: 100%;
  top:100px;
  right: 0px;

}
#hammer{
  position: absolute;
  top: 20px;
  right: 10px;
  display: none;
}
@media (max-width:1170px) {
  header{
      overflow-y: hidden;
      height: 80px;
  }
  .header-show{
      height: 150px;
      overflow-y: hidden;
      z-index: 100;
      padding: 20px;
      position: fixed;
      border-bottom: 2px solid gray;
  }
  .logo{
      width: 40px;
      height: 40px;
  }
  /* #hammer{
      display: block;
  } */
}
/* @media (max-width:1184px){
  .header-show{
      height: 200px;
      overflow-y: hidden;
      z-index: 100;
      padding: 20px;
  }
  #hammer{
      display: block;
  }
} */
@media (max-width:835px) {
header{
  overflow-y: hidden;
  height: 80px;
 
}

.header-show{
  height: 210px;
  overflow-y: hidden;
  z-index: 100;
  padding: 20px;
  border-bottom: 2px solid gray;
  position: fixed;
}
  #top-contributors,
  #upload-questions,
  #login-button,
  #logout-button {
      width: 250px;
      justify-content: center;
  }
  #hammer{
      display: block;
  }
}
.pre-next-button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.pre-next-button button {
    padding: 10px;
    font-size: 24px;
    width: 47%;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    border-radius: 10px;
    border: none;
    background-color: #4fbfe7;
    color: white;
}
.pre-next-button button:hover{
  cursor: pointer;
=======
    background-color: #4fbfe7;
    color: white;
    border: none;
    border-radius: 15px;

>>>>>>> 655a086f6a22ccf792a6de751ee523859e702f69
}
#option-1,
#option-2,
#option-3 {
    width: 100%;
    padding: 20px;
    background-color: #e7eae7;
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
    /* opacity: 0; */
}

#option-1:hover,
#option-2:hover,
#option-3:hover {
    scale: 1.02;
    background-color: white;
    cursor: pointer;
    border: 1px solid #ff5722;
}

#answer-div {
    width: 350px;
    height: 350px;
    background-color: #ff5722;
}

#answer-image-div {
    width: 200px;
    height: 200px;
}

#answer-image-div img {
    width: 100%;
    height: 100%;
}

/* From Uiverse.io by Nawsome */
.loader {
    --background: linear-gradient(135deg, #4fbfe7, #c9cfd6);
    --shadow: #6ea7ec;
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
  }
  
  .loader:before, .loader:after {
    --r: -6deg;
    content: "";
    position: absolute;
    bottom: 8px;
    width: 120px;
    top: 80%;
    box-shadow: 0 16px 12px var(--shadow);
    transform: rotate(var(--r));
  }
  
  .loader:before {
    left: 4px;
  }
  
  .loader:after {
    --r: 6deg;
    right: 4px;
  }
  
  .loader div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    perspective: 600px;
    box-shadow: 0 4px 6px var(--shadow);
    background-image: var(--background);
  }
  
  .loader div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  
  .loader div ul li {
    --r: 180deg;
    --o: 0;
    --c: var(--page);
    position: absolute;
    top: 10px;
    left: 10px;
    transform-origin: 100% 50%;
    color: var(--c);
    opacity: var(--o);
    transform: rotateY(var(--r));
    -webkit-animation: var(--duration) ease infinite;
    animation: var(--duration) ease infinite;
  }
  
  .loader div ul li:nth-child(2) {
    --c: var(--page-fold);
    -webkit-animation-name: page-2;
    animation-name: page-2;
  }
  
  .loader div ul li:nth-child(3) {
    --c: var(--page-fold);
    -webkit-animation-name: page-3;
    animation-name: page-3;
  }
  
  .loader div ul li:nth-child(4) {
    --c: var(--page-fold);
    -webkit-animation-name: page-4;
    animation-name: page-4;
  }
  
  .loader div ul li:nth-child(5) {
    --c: var(--page-fold);
    -webkit-animation-name: page-5;
    animation-name: page-5;
  }
  
  .loader div ul li svg {
    width: 90px;
    height: 120px;
    display: block;
  }
  
  .loader div ul li:first-child {
    --r: 0deg;
    --o: 1;
  }
  
  .loader div ul li:last-child {
    --o: 1;
  }
  
  .loader span {
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--text);
    color:black;
    font-weight: 500;
    font-size: 20px;
  }
  
  @keyframes page-2 {
    0% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    35%, 100% {
      opacity: 0;
    }
  
    50%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-3 {
    15% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    35% {
      opacity: 1;
    }
  
    50%, 100% {
      opacity: 0;
    }
  
    65%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-4 {
    30% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    65%, 100% {
      opacity: 0;
    }
  
    80%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-5 {
    45% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    65% {
      opacity: 1;
    }
  
    80%, 100% {
      opacity: 0;
    }
  
    95%, 100% {
      transform: rotateY(0deg);
    }
  }
  #progress-details{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }
  #progress{
  height: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    border: 1px solid black;

  }
  #number-of-question{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  }
  #current-progress{
    height: 100%;
    background-color: #4fbfe7;
    transition: 0.4s;
    border-radius: 10px;
  }
  #finish-quize{
    display: none;
  }
  footer{
    width: 100%;
<<<<<<< HEAD
    height: 30dvh;
    background-color: #2b323b;
=======
    height: 300px;
    background-color: #546E7A;
    font-size: 18px;
>>>>>>> 655a086f6a22ccf792a6de751ee523859e702f69
}
.footer{
    width: 75%;
    margin: 0 auto;
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    font-size: 18px;
    color: white;
}
.footer-section-logo{
    display: flex;
    align-items: center;
    gap: 10px;
   font-size: 24px;
}
.footer-section-logo img{
    width: 60px;
    height: 60px;
}
.social-links{
display: flex;
align-items: center;
gap: 10px;
}
.social-links img{
    width: 50px;
    height: 50px;
}
.get-mark-confirmation-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: fit-content;
  background-color: rgb(255, 250, 250);
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 15px;
gap: 10px;
  font-size: 22px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
}

.content-heading {
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.content-para {
  font-size: 16px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

.button-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.button-sin-up {
  width: 50%;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Quicksand';
  font-size: 15px;
  font-weight: 500;
}

.accept {
  background-color: #ff5722;
  color: white;
}

.reject {
  background-color: #ececec;
  color: rgb(34, 34, 34);
}

.accept:hover {
  background-color: #b95132;
}

.reject:hover {
  background-color: #ddd;
}
=======
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    color: #f5fff5;
}
.footer-section-logo-and-name{
display: flex;
align-items: center;
gap: 10px;
font-size: 26px;
font-weight: 500;
}
.footer-section-logo-and-name img{
    width: 40px;
    height: 40px;
}
.follow-pages img{
    width: 40px;
    height: 40px;
}
.follow-pages{
    display: flex;
    align-items: center;
    gap: 15px;
}
>>>>>>> 655a086f6a22ccf792a6de751ee523859e702f69
